<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.dashboard') }}">{{ _('Dashboard') }}</a></li>
<li role="separator" class="divider"></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.users') }}">{{ _('Users') }}</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.clients') }}">{{ _('Clients') }}</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.categories') }}">{{ _('Categories') }}</a></li>
<li class="nav-item"><a class="nav-link" href="{{ url_for('admin.invitations') }}">{{ _('Invitations') }}</a></li>