{% extends 'layouts/app.html' %}

{% block body %}
<div class="row">
  <div class="col-md-12">
    <a class="pull-right btn btn-sm btn-info" href="{{ url_for('admin.add_category') }}"><i class="fa fa-fw fa-plus"></i>Add New Category</a>
  </div>
</div>
    <table class="table table-striped table-sm table-responive">
        <thead>
          <tr>
            <th class="col-header">
              <p>No</p>            
            </th>
            <th class="col-header">
              <p>Name</p>            
            </th>
            <th class="col-header">
              <p>Photo</p>
            </th>
            <th class="col-header">
              <p>Created on</p>
            </th>
            <th class="col-header">
              <p>Actions</p>
            </th>
          </tr>
        </thead>
        <tbody>
        {% for cat in cats %}
          <tr>
              <td>
                {{ loop.index }}
              </td>
              <td>
                {{ cat.category_name }}
              </td>
              <td>
              {% if cat.image != None %}
                <img class="img-thumbnail" height="auto" width="65px" src="{{url_for('static', filename='images/categories/' + cat.image) }}">
              {% else %}
                <p class="text-muted">No Photos</p>
              {% endif %}
              </td>
              <td>
                {{ cat.created_on }}
              </td>
              <td>
                <a href="{{ url_for('admin.edit_category', id = cat.id) }}" class="btn btn-sm btn-warning"><i class="fa fa-fw fa-edit"></i></a>
                <a href="{{ url_for('admin.delete_category', id = cat.id, filename=cat.image) }}" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-trash"></i></a>
              </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
{% endblock %}
