{% extends 'layouts/app.html' %}

{% block title %}FAQ{% endblock %}
{% block heading%}<h2>{{ _('Frequently Asked Questions') }}</h2>{% endblock %}

{% block body %}
<h5> {{ _('What is the purpose of this website?') }} </h5>
<p class="text-muted">{{ _('The purpose of the website is to provide a space for couples to organize wedding easily and fast') }}</p>
<h5>{{ _('What are the procedures') }}</h5>
<p class="text-muted"> {{ _('You provide us your wedding details and needs so our wedding expert is going to work with you individually') }}</p>
<h5> {{ _('I have a wedding service, what should I do?') }}</h5>
<p class="text-muted"> {{ _('We are going to recommend and advertise your wedding service to people so that they know about you') }}</p>
{% endblock %}