{% import 'macros/form.html' as f with context %}

{% set endpoint = 'admin.users_uploads' %}
{% set form_kwargs = {'id': user.id} %}
{% set f_type = 'multipart/form-data' %}
{% set legend = 'Upload Photo' %}
{% set button = 'Upload' %}


<div class="row">
  <legend>{{ legend }}</legend>
  {{ msg }}
  <div class="col-md-6 card card-block">
    {% call f.form_tag(endpoint, **form_kwargs) %}
    <div class="form-group">
        <label class="control-label"><strong>Photo of:</strong></label>
        <p class="sm-margin-bottom form-control-static">
            {{ user.username }}
        </p>
      </div>
      {% call f.form_group(form.photo, css_class='sm-margin-bottom', multiple='multiple') %}
      {% endcall %}
      <hr/>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary btn-block">
            {{ button }}
          </button>
        </div>
        <div class="col-md-3">
          <div class="visible-xs visible-sm sm-margin-bottom"></div>
          <a href="{{ url_for('admin.users_edit', id = user.id) }}"
              class="btn btn-warning btn-block">
            Cancel
          </a>
        </div>
      </div>
    {% endcall %}
  </div>
  <div class="col-md-6 card card-block">
  {% for image in images %}
  <div class="row" style="border-bottom: 1px dashed #dfdfdf">
    <div class="col-md-10">
        <img src="{{ url_for('static', filename='images/uploads/' + user.username + '/' + image) }}" class="img-thumbnail img-responsive"  width="95px" height="auto">
        <p>{{ image }}</p>
    </div>
    <div class="col-md-2">
     <div class="visible-xs visible-sm"></div>
        <a href="{{ url_for('admin.delete_images', id = user.id, image_name = image) }}"
            class="btn btn-danger btn-block">
          <i class="fa fa-fw fa-trash"></i>
        </a>
      </div>
  </div>
  {% endfor %}
  </div>
</div>
